<div class="row">
  <div class="container">
    <div class="card mx-5" style="margin-top: 110px;">
      <div class="card-header">
        Create Activities
      </div>
      <div class="card-body">
          <form #createEvent="ngForm" name="form" (ngSubmit)="createEvent.valid && onSubmit(createEvent.value, createEvent)">
            <div class="form-row mb-3">
              <div class="col-md-6">
                <label for="activityName">Name of Activity</label>
                <input  type="text" class="form-control is-vaild" id="activityName" name="activityName" placeholder="activity Name" value="" required ngModel>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-6">
                  <label for="location">Location</label>
                  <select class="custom-select" id="location" name="location" ngModel>
                      <option >Choose...</option>
                      <option *ngFor="let key of stateObjArr" [value]="key.name">{{key.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-md-6">
                  <label for="dateEvent">Date</label>
                  <my-date-picker name="dateEvent"
                     [options]="myDatePickerOptions" required ngModel></my-date-picker>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <!-- (ngModelChange)="onDateSelect($event)" -->
                <div class="col-md-6">
                    <label for="amount">Entry fee</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                      </div>
                      <input type="number" class="form-control" name="amount" aria-label="Amount (to the nearest rupees)" ngModel>
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
              </div>
            <div class="form-row mb-3">
                <div class="col-md-6">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" rows="3" placeholder="Event Description" ngModel></textarea>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="imageUrl">Url for cover</label>
                  <input type="text" class="form-control" id="imageUrl" name="imageUrl" ngModel >
                </div>
            </div>
            <ngx-alerts></ngx-alerts>
            <button class="btn btn-success" type="submit" [disabled]="createEvent.invalid">Submit</button>
          </form>
      </div>
      <img [src]="url" height="200"> <br/>
      <input type='file' (change)="onSelectFile($event)">
    </div>
  </div>
</div>

