
.sidenav-container{
    height: 100%;
}
.darkGray{
    color: gray !important;
}
.flexColumn{
    flex-direction: column;
}
.dropdown-toggle:after { 
    content: none 
}
.navbarStyle{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
}
