<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation"
        (click)="navShowToggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navShow }" navShow id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/events" routerLinkActive="active">Events <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/special-events" routerLinkActive="active">Special Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/create-event" routerLinkActive="active">Create Activities</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login" *ngIf="_authService.loggedIn()" routerLinkActive="active" (click)="_authService.loggedOut()">Logout</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="false">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Logout</a>
                    </li>
                </ul>
          </form>
        </div>
      </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

